<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-category-instance-heading" jhiTranslate="traquerTestApp.categoryInstance.home.createOrEditLabel">Create or edit a Category Instance</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.categoryInstance.incidentid" for="field_incidentid">Incidentid</label>
                    <input type="number" class="form-control" name="incidentid" id="field_incidentid"
                           formControlName="incidentid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.categoryInstance.categoryid" for="field_categoryid">Categoryid</label>
                    <input type="number" class="form-control" name="categoryid" id="field_categoryid"
                           formControlName="categoryid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.categoryInstance.rank" for="field_rank">Rank</label>
                    <input type="number" class="form-control" name="rank" id="field_rank"
                           formControlName="rank"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.categoryInstance.categoryid" for="field_categoryid">Categoryid</label>
                    <select class="form-control" id="field_categoryid" name="categoryid" formControlName="categoryid">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id === editForm.get('categoryid')!.value?.id ? editForm.get('categoryid')!.value : categoryOption" *ngFor="let categoryOption of categoryids; trackBy: trackById">{{ categoryOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.categoryInstance.incidentid" for="field_incidentid">Incidentid</label>
                    <select class="form-control" id="field_incidentid" name="incidentid" formControlName="incidentid">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="incidentOption.id === editForm.get('incidentid')!.value?.id ? editForm.get('incidentid')!.value : incidentOption" *ngFor="let incidentOption of incidents; trackBy: trackById">{{ incidentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
