<div>
    <h2 id="page-heading">
        <span jhiTranslate="traquerTestApp.schedule.home.title">Schedules</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-schedule" [routerLink]="['/schedule/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="traquerTestApp.schedule.home.createLabel">
            Create a new Schedule
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="schedules?.length === 0">
        <span jhiTranslate="traquerTestApp.schedule.home.notFound">No schedules found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="schedules?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.scheduledsetupstarttime">Scheduledsetupstarttime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.actualsetupstarttime">Actualsetupstarttime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.scheduledsetupendtime">Scheduledsetupendtime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.actualsetupendtime">Actualsetupendtime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.scheduledcandidatearrivaltime">Scheduledcandidatearrivaltime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.actualcandidatearrivaltime">Actualcandidatearrivaltime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.scheduledproctorarrivaltime">Scheduledproctorarrivaltime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.actualproctorarrivaltime">Actualproctorarrivaltime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.scheduledonboardingstarttime">Scheduledonboardingstarttime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.actualonboardingstarttime">Actualonboardingstarttime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.scheduledonboardingendtime">Scheduledonboardingendtime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.actualonboardingendtime">Actualonboardingendtime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.scheduledexamstarttime">Scheduledexamstarttime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.actualexamstarttime">Actualexamstarttime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.scheduledexamendtime">Scheduledexamendtime</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.schedule.actualexamendtime">Actualexamendtime</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let schedule of schedules ;trackBy: trackId">
                    <td><a [routerLink]="['/schedule', schedule.id, 'view']">{{ schedule.id }}</a></td>
                    <td>{{ schedule.scheduledsetupstarttime | date:'mediumDate' }}</td>
                    <td>{{ schedule.actualsetupstarttime | date:'mediumDate' }}</td>
                    <td>{{ schedule.scheduledsetupendtime | date:'mediumDate' }}</td>
                    <td>{{ schedule.actualsetupendtime | date:'mediumDate' }}</td>
                    <td>{{ schedule.scheduledcandidatearrivaltime | date:'mediumDate' }}</td>
                    <td>{{ schedule.actualcandidatearrivaltime | date:'mediumDate' }}</td>
                    <td>{{ schedule.scheduledproctorarrivaltime | date:'mediumDate' }}</td>
                    <td>{{ schedule.actualproctorarrivaltime | date:'mediumDate' }}</td>
                    <td>{{ schedule.scheduledonboardingstarttime | date:'mediumDate' }}</td>
                    <td>{{ schedule.actualonboardingstarttime | date:'mediumDate' }}</td>
                    <td>{{ schedule.scheduledonboardingendtime | date:'mediumDate' }}</td>
                    <td>{{ schedule.actualonboardingendtime | date:'mediumDate' }}</td>
                    <td>{{ schedule.scheduledexamstarttime | date:'mediumDate' }}</td>
                    <td>{{ schedule.actualexamstarttime | date:'mediumDate' }}</td>
                    <td>{{ schedule.scheduledexamendtime | date:'mediumDate' }}</td>
                    <td>{{ schedule.actualexamendtime | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/schedule', schedule.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/schedule', schedule.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(schedule)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
