<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cloud-instance-heading" jhiTranslate="traquerTestApp.cloudInstance.home.createOrEditLabel">Create or edit a Cloud Instance</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.cloudInstance.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.cloudInstance.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.cloudInstance.cloudregionid" for="field_cloudregionid">Cloudregionid</label>
                    <input type="number" class="form-control" name="cloudregionid" id="field_cloudregionid"
                           formControlName="cloudregionid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.cloudInstance.exambackendid" for="field_exambackendid">Exambackendid</label>
                    <input type="number" class="form-control" name="exambackendid" id="field_exambackendid"
                           formControlName="exambackendid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.cloudInstance.cloudregionid" for="field_cloudregionid">Cloudregionid</label>
                    <select class="form-control" id="field_cloudregionid" name="cloudregionid" formControlName="cloudregionid">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cloudRegionOption.id === editForm.get('cloudregionid')!.value?.id ? editForm.get('cloudregionid')!.value : cloudRegionOption" *ngFor="let cloudRegionOption of cloudregionids; trackBy: trackById">{{ cloudRegionOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.cloudInstance.exambackendid" for="field_exambackendid">Exambackendid</label>
                    <select class="form-control" id="field_exambackendid" name="exambackendid" formControlName="exambackendid">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="examBackendOption.id === editForm.get('exambackendid')!.value?.id ? editForm.get('exambackendid')!.value : examBackendOption" *ngFor="let examBackendOption of exambackendids; trackBy: trackById">{{ examBackendOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
