<div>
    <h2 id="page-heading">
        <span jhiTranslate="traquerTestApp.cloudInstance.home.title">Cloud Instances</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cloud-instance" [routerLink]="['/cloud-instance/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="traquerTestApp.cloudInstance.home.createLabel">
            Create a new Cloud Instance
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cloudInstances?.length === 0">
        <span jhiTranslate="traquerTestApp.cloudInstance.home.notFound">No cloudInstances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cloudInstances?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.cloudInstance.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.cloudInstance.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.cloudInstance.cloudregionid">Cloudregionid</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.cloudInstance.exambackendid">Exambackendid</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.cloudInstance.cloudregionid">Cloudregionid</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.cloudInstance.exambackendid">Exambackendid</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cloudInstance of cloudInstances ;trackBy: trackId">
                    <td><a [routerLink]="['/cloud-instance', cloudInstance.id, 'view']">{{ cloudInstance.id }}</a></td>
                    <td>{{ cloudInstance.code }}</td>
                    <td>{{ cloudInstance.description }}</td>
                    <td>{{ cloudInstance.cloudregionid }}</td>
                    <td>{{ cloudInstance.exambackendid }}</td>
                    <td>
                        <div *ngIf="cloudInstance.cloudregionid">
                            <a [routerLink]="['/cloud-region', cloudInstance.cloudregionid?.id, 'view']" >{{ cloudInstance.cloudregionid?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cloudInstance.exambackendid">
                            <a [routerLink]="['/exam-backend', cloudInstance.exambackendid?.id, 'view']" >{{ cloudInstance.exambackendid?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cloud-instance', cloudInstance.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cloud-instance', cloudInstance.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cloudInstance)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
