<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="supportPerson">
            <h2><span jhiTranslate="traquerTestApp.supportPerson.detail.title">Support Person</span> {{ supportPerson.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="traquerTestApp.supportPerson.name">Name</span></dt>
                <dd>
                    <span>{{ supportPerson.name }}</span>
                </dd>
                <dt><span jhiTranslate="traquerTestApp.supportPerson.email">Email</span></dt>
                <dd>
                    <span>{{ supportPerson.email }}</span>
                </dd>
                <dt><span jhiTranslate="traquerTestApp.supportPerson.office">Office</span></dt>
                <dd>
                    <span>{{ supportPerson.office }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/support-person', supportPerson.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
