<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-offer-heading" jhiTranslate="traquerTestApp.offer.home.createOrEditLabel">Create or edit a Offer</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.offer.incidentid" for="field_incidentid">Incidentid</label>
                    <input type="number" class="form-control" name="incidentid" id="field_incidentid"
                           formControlName="incidentid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.offer.offertypeid" for="field_offertypeid">Offertypeid</label>
                    <input type="number" class="form-control" name="offertypeid" id="field_offertypeid"
                           formControlName="offertypeid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.offer.examid" for="field_examid">Examid</label>
                    <input type="number" class="form-control" name="examid" id="field_examid"
                           formControlName="examid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.offer.discountpercentage" for="field_discountpercentage">Discountpercentage</label>
                    <input type="number" class="form-control" name="discountpercentage" id="field_discountpercentage"
                           formControlName="discountpercentage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.offer.offertypeid" for="field_offertypeid">Offertypeid</label>
                    <select class="form-control" id="field_offertypeid" name="offertypeid" formControlName="offertypeid">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="offerTypeOption.id === editForm.get('offertypeid')!.value?.id ? editForm.get('offertypeid')!.value : offerTypeOption" *ngFor="let offerTypeOption of offertypeids; trackBy: trackById">{{ offerTypeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.offer.incidentid" for="field_incidentid">Incidentid</label>
                    <select class="form-control" id="field_incidentid" name="incidentid" formControlName="incidentid">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="incidentOption.id === editForm.get('incidentid')!.value?.id ? editForm.get('incidentid')!.value : incidentOption" *ngFor="let incidentOption of incidents; trackBy: trackById">{{ incidentOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.offer.examid" for="field_examid">Examid</label>
                    <select class="form-control" id="field_examid" name="examid" formControlName="examid">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="examOption.id === editForm.get('examid')!.value?.id ? editForm.get('examid')!.value : examOption" *ngFor="let examOption of exams; trackBy: trackById">{{ examOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
