<div>
    <h2 id="page-heading">
        <span jhiTranslate="traquerTestApp.incident.home.title">Incidents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-incident" [routerLink]="['/incident/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="traquerTestApp.incident.home.createLabel">
            Create a new Incident
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="incidents?.length === 0">
        <span jhiTranslate="traquerTestApp.incident.home.notFound">No incidents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="incidents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.incident.sessionid">Sessionid</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.incident.majorincidentid">Majorincidentid</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.incident.failurestageid">Failurestageid</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.incident.summary">Summary</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.incident.investigationreport">Investigationreport</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.incident.servicenowticketid">Servicenowticketid</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.incident.sessionid">Sessionid</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.incident.failurestageid">Failurestageid</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.incident.majorincidentid">Majorincidentid</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let incident of incidents ;trackBy: trackId">
                    <td><a [routerLink]="['/incident', incident.id, 'view']">{{ incident.id }}</a></td>
                    <td>{{ incident.sessionid }}</td>
                    <td>{{ incident.majorincidentid }}</td>
                    <td>{{ incident.failurestageid }}</td>
                    <td>{{ incident.summary }}</td>
                    <td>{{ incident.investigationreport }}</td>
                    <td>{{ incident.servicenowticketid }}</td>
                    <td>
                        <div *ngIf="incident.sessionid">
                            <a [routerLink]="['/session', incident.sessionid?.id, 'view']" >{{ incident.sessionid?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="incident.failurestageid">
                            <a [routerLink]="['/failure-stage', incident.failurestageid?.id, 'view']" >{{ incident.failurestageid?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="incident.majorincidentid">
                            <a [routerLink]="['/major-incident', incident.majorincidentid?.id, 'view']" >{{ incident.majorincidentid?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/incident', incident.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/incident', incident.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(incident)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
