<div>
    <h2 id="page-heading">
        <span jhiTranslate="traquerTestApp.deliveryStatus.home.title">Delivery Statuses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-delivery-status" [routerLink]="['/delivery-status/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="traquerTestApp.deliveryStatus.home.createLabel">
            Create a new Delivery Status
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="deliveryStatuses?.length === 0">
        <span jhiTranslate="traquerTestApp.deliveryStatus.home.notFound">No deliveryStatuses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="deliveryStatuses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.deliveryStatus.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.deliveryStatus.description">Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deliveryStatus of deliveryStatuses ;trackBy: trackId">
                    <td><a [routerLink]="['/delivery-status', deliveryStatus.id, 'view']">{{ deliveryStatus.id }}</a></td>
                    <td>{{ deliveryStatus.code }}</td>
                    <td>{{ deliveryStatus.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/delivery-status', deliveryStatus.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/delivery-status', deliveryStatus.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(deliveryStatus)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
