<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offerType">
            <h2><span jhiTranslate="traquerTestApp.offerType.detail.title">Offer Type</span> {{ offerType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="traquerTestApp.offerType.code">Code</span></dt>
                <dd>
                    <span>{{ offerType.code }}</span>
                </dd>
                <dt><span jhiTranslate="traquerTestApp.offerType.description">Description</span></dt>
                <dd>
                    <span>{{ offerType.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offer-type', offerType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
