<div>
    <h2 id="page-heading">
        <span jhiTranslate="traquerTestApp.offerType.home.title">Offer Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-offer-type" [routerLink]="['/offer-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="traquerTestApp.offerType.home.createLabel">
            Create a new Offer Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="offerTypes?.length === 0">
        <span jhiTranslate="traquerTestApp.offerType.home.notFound">No offerTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="offerTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.offerType.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.offerType.description">Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let offerType of offerTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/offer-type', offerType.id, 'view']">{{ offerType.id }}</a></td>
                    <td>{{ offerType.code }}</td>
                    <td>{{ offerType.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/offer-type', offerType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/offer-type', offerType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(offerType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
