<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-major-incident-heading" jhiTranslate="traquerTestApp.majorIncident.home.createOrEditLabel">Create or edit a Major Incident</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.majorIncident.majorincidentsourceid" for="field_majorincidentsourceid">Majorincidentsourceid</label>
                    <input type="number" class="form-control" name="majorincidentsourceid" id="field_majorincidentsourceid"
                           formControlName="majorincidentsourceid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.majorIncident.starttime" for="field_starttime">Starttime</label>
                    <div class="input-group">
                        <input id="field_starttime" type="text" class="form-control" name="starttime" ngbDatepicker #starttimeDp="ngbDatepicker" formControlName="starttime"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="starttimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.majorIncident.endtime" for="field_endtime">Endtime</label>
                    <div class="input-group">
                        <input id="field_endtime" type="text" class="form-control" name="endtime" ngbDatepicker #endtimeDp="ngbDatepicker" formControlName="endtime"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endtimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.majorIncident.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.majorIncident.details" for="field_details">Details</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                           formControlName="details"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.majorIncident.majorincidentsourceid" for="field_majorincidentsourceid">Majorincidentsourceid</label>
                    <select class="form-control" id="field_majorincidentsourceid" name="majorincidentsourceid" formControlName="majorincidentsourceid">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="majorIncidentSourceOption.id === editForm.get('majorincidentsourceid')!.value?.id ? editForm.get('majorincidentsourceid')!.value : majorIncidentSourceOption" *ngFor="let majorIncidentSourceOption of majorincidentsourceids; trackBy: trackById">{{ majorIncidentSourceOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
