<div>
    <h2 id="page-heading">
        <span jhiTranslate="traquerTestApp.deliveryType.home.title">Delivery Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-delivery-type" [routerLink]="['/delivery-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="traquerTestApp.deliveryType.home.createLabel">
            Create a new Delivery Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="deliveryTypes?.length === 0">
        <span jhiTranslate="traquerTestApp.deliveryType.home.notFound">No deliveryTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="deliveryTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.deliveryType.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.deliveryType.description">Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deliveryType of deliveryTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/delivery-type', deliveryType.id, 'view']">{{ deliveryType.id }}</a></td>
                    <td>{{ deliveryType.code }}</td>
                    <td>{{ deliveryType.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/delivery-type', deliveryType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/delivery-type', deliveryType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(deliveryType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
