<div>
    <h2 id="page-heading">
        <span jhiTranslate="traquerTestApp.subcategoryInstance.home.title">Subcategory Instances</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subcategory-instance" [routerLink]="['/subcategory-instance/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="traquerTestApp.subcategoryInstance.home.createLabel">
            Create a new Subcategory Instance
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="subcategoryInstances?.length === 0">
        <span jhiTranslate="traquerTestApp.subcategoryInstance.home.notFound">No subcategoryInstances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="subcategoryInstances?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.subcategoryInstance.categoryinstanceid">Categoryinstanceid</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.subcategoryInstance.subcategoryid">Subcategoryid</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.subcategoryInstance.rank">Rank</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.subcategoryInstance.subcategoryid">Subcategoryid</span></th>
                    <th scope="col" ><span jhiTranslate="traquerTestApp.subcategoryInstance.categoryinstanceid">Categoryinstanceid</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subcategoryInstance of subcategoryInstances ;trackBy: trackId">
                    <td><a [routerLink]="['/subcategory-instance', subcategoryInstance.id, 'view']">{{ subcategoryInstance.id }}</a></td>
                    <td>{{ subcategoryInstance.categoryinstanceid }}</td>
                    <td>{{ subcategoryInstance.subcategoryid }}</td>
                    <td>{{ subcategoryInstance.rank }}</td>
                    <td>
                        <div *ngIf="subcategoryInstance.subcategoryid">
                            <a [routerLink]="['/subcategory', subcategoryInstance.subcategoryid?.id, 'view']" >{{ subcategoryInstance.subcategoryid?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="subcategoryInstance.categoryinstanceid">
                            <a [routerLink]="['/category-instance', subcategoryInstance.categoryinstanceid?.id, 'view']" >{{ subcategoryInstance.categoryinstanceid?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/subcategory-instance', subcategoryInstance.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/subcategory-instance', subcategoryInstance.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(subcategoryInstance)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
