<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-subcategory-instance-heading" jhiTranslate="traquerTestApp.subcategoryInstance.home.createOrEditLabel">Create or edit a Subcategory Instance</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.subcategoryInstance.categoryinstanceid" for="field_categoryinstanceid">Categoryinstanceid</label>
                    <input type="number" class="form-control" name="categoryinstanceid" id="field_categoryinstanceid"
                           formControlName="categoryinstanceid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.subcategoryInstance.subcategoryid" for="field_subcategoryid">Subcategoryid</label>
                    <input type="number" class="form-control" name="subcategoryid" id="field_subcategoryid"
                           formControlName="subcategoryid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.subcategoryInstance.rank" for="field_rank">Rank</label>
                    <input type="number" class="form-control" name="rank" id="field_rank"
                           formControlName="rank"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.subcategoryInstance.subcategoryid" for="field_subcategoryid">Subcategoryid</label>
                    <select class="form-control" id="field_subcategoryid" name="subcategoryid" formControlName="subcategoryid">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subcategoryOption.id === editForm.get('subcategoryid')!.value?.id ? editForm.get('subcategoryid')!.value : subcategoryOption" *ngFor="let subcategoryOption of subcategoryids; trackBy: trackById">{{ subcategoryOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="traquerTestApp.subcategoryInstance.categoryinstanceid" for="field_categoryinstanceid">Categoryinstanceid</label>
                    <select class="form-control" id="field_categoryinstanceid" name="categoryinstanceid" formControlName="categoryinstanceid">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryInstanceOption.id === editForm.get('categoryinstanceid')!.value?.id ? editForm.get('categoryinstanceid')!.value : categoryInstanceOption" *ngFor="let categoryInstanceOption of categoryinstances; trackBy: trackById">{{ categoryInstanceOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
