<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="proctor">
            <h2><span jhiTranslate="traquerTestApp.proctor.detail.title">Proctor</span> {{ proctor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="traquerTestApp.proctor.name">Name</span></dt>
                <dd>
                    <span>{{ proctor.name }}</span>
                </dd>
                <dt><span jhiTranslate="traquerTestApp.proctor.email">Email</span></dt>
                <dd>
                    <span>{{ proctor.email }}</span>
                </dd>
                <dt><span jhiTranslate="traquerTestApp.proctor.office">Office</span></dt>
                <dd>
                    <span>{{ proctor.office }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/proctor', proctor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
