<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subcategory">
            <h2><span jhiTranslate="traquerTestApp.subcategory.detail.title">Subcategory</span> {{ subcategory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="traquerTestApp.subcategory.code">Code</span></dt>
                <dd>
                    <span>{{ subcategory.code }}</span>
                </dd>
                <dt><span jhiTranslate="traquerTestApp.subcategory.description">Description</span></dt>
                <dd>
                    <span>{{ subcategory.description }}</span>
                </dd>
                <dt><span jhiTranslate="traquerTestApp.subcategory.categoryid">Categoryid</span></dt>
                <dd>
                    <span>{{ subcategory.categoryid }}</span>
                </dd>
                <dt><span jhiTranslate="traquerTestApp.subcategory.categoryid">Categoryid</span></dt>
                <dd>
                    <div *ngIf="subcategory.categoryid">
                        <a [routerLink]="['/category', subcategory.categoryid?.id, 'view']">{{ subcategory.categoryid?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subcategory', subcategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
